{% extends 'myapp/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="responsive">
                <thead>
                  <tr>
                      <th>Rank</th>
                      <th>Name</th>
                      <th>Level</th>
                  </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ profile.user.username }}
                        </td>
                        <td>
                            {{ profile.solved }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}