
{% extends 'myapp/base.html' %}
{%load static%}
{% block body %}
  <style scoped>
.flip-container{
  width:100%;
  height:400px;
  position: relative;
}
.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;

margin-top: 100px;
  border-radius: 1em;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
}
.face.front{
  background:#000;
}
.face.back {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  text-align: left;
  background-color: #333;
}
.container{
  perspective: 800px;
}
.card{
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  border-radius: 1em;
  margin-top: 10px;
}
.card:hover .front{
  transform: rotateY(-180deg);
}
.card:hover .back {
 transform: rotateY(0deg);
}
.face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.face.front {
  transform: rotateY(0deg);
border-radius: 1em;
}
.face.back {
  transform: rotateY(180deg);
}
.face.front h3, h4{
  color:#fff;
  margin-top: 20px;
}
.face.front a{
  color: #f13f89;
  text-decoration: none;
}
.face.back p {
    font-size: 18px;
    margin-top: 35px;
}
.carder{
  margin-top: 40px;
}
</style>
<body>
  <div class="container-fluid">
    <div class="row no-gutters" style="margin-bottom: 20px;">

    <div class="col-md-4" align="center" style="margin-top: 20px;">
      <div class="flip-container">
   <div class="card">
      <div class="face front">
        <img style="height: 75%;width: 100%;  border-radius: 1em; " src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/20768116_1483758871714836_8735224781601887776_n.jpg?oh=faf47b3cbc998e6e98d51aa1c3b61018&oe=5AEAC44B">
        <h3>Ajay Verma</h3>
        <h4 style="color:#fff">Backend Developer</h4>
      </div>
      <div class="face back">
        <p>He is Ajay Verma, 6th semester student pursuing IT in YMCA University , Faridabad. He is a sports programmer who love to solve programming problems and develop web applications. He loves coding, philosophy and sleeping of-course !<br><br/><center>
    <a href="https://www.facebook.com/avcool1">
  <img border="0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" width="60" height="60">
  </a>
  <a href="https://github.com/scorpion-ajay">
  <img border="0" src="http://alexi-garrow.com/octocat_outline.png" width="60" height="60">
  </a>
  <a href="http://manantechnosurge.com/member/7009454212/">
  <img border="0" src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/12742693_1111335255567791_2797602291257818265_n.png?oh=73358cc20d08c82f6bb2063b0db7e2ae&oe=5B2610C4" width="60" height="60">
  </a></center></p>
      </div>
    </div>
   </div>
  </div>
    <div class="col-md-4" align="center" style="margin-top: 20px;">
      <div class="flip-container">
   <div class="card">
      <div class="face front">
        <img style="height: 75%;width: 100%;  border-radius: 1em;" src="https://scontent.fdel3-1.fna.fbcdn.net/v/t31.0-8/27628764_955544077962617_9029559281484790110_o.jpg?_nc_cat=0&oh=e838697dd26ce2cb4888634a5c6e5f69&oe=5B308945">
        <h3>Sahil Singla</h3>
        <h4 style="color:#fff">Database Handler</h4>
      </div>
      <div class="face back">
        <p>He is a CE 4th sem student in YMCAUST, Faridabad. He is a Django Developer, Fitness Lover, Adventurous Person, a Curious and Enthusiastic Programmer who loves problem solving.<br><br><br><center>
   <a href="https://www.facebook.com/sahil.singla.3388">
  <img border="0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" width="60" height="60">
  </a>
  <a href="https://github.com/singlasahil221">
  <img border="0" src="http://alexi-garrow.com/octocat_outline.png" width="60" height="60">
  </a>
  <a href="http://manantechnosurge.com/member/8745959048/">
  <img border="0" src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/12742693_1111335255567791_2797602291257818265_n.png?oh=73358cc20d08c82f6bb2063b0db7e2ae&oe=5B2610C4" width="60" height="60"></a></center></p>
      </div>
    </div>
    </div>

  </div>
  <div class="col-md-4" align="center" style="margin-top: 20px;">
    <div class="flip-container" >
     <div class="card" >
        <div class="face front" style="border-radius: 1em;">
          <img class="responsive" style="width: 100%; height: 75%; border-radius: 1em;" src="{% static 'images/mohit.jpg' %}" alt="bg">
          <h3>Mohit Yadav</h3>
          <h4 style="color:#fff">Frontend Developer</h4>

        </div>
        <div class="face back">
          <p>He is a IT 4th sem student in YMCAUST, Faridabad. He loves to code and make ideas come to life.<br><br/><center>
    <a href="https://www.linkedin.com/in/mohityadav7/">
    <img border="0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" width="60" height="60">
    </a>
    <a href="https://github.com/princebatra2315">
    <img border="0" src="http://alexi-garrow.com/octocat_outline.png" width="60" height="60">
    </a>
    <a href="http://manantechnosurge.com/member/9953764100/">
    <img border="0" src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/12742693_1111335255567791_2797602291257818265_n.png?oh=73358cc20d08c82f6bb2063b0db7e2ae&oe=5B2610C4" width="60" height="60">
    </a></center></p>
        </div>
      </div>
      </div>

    </div>
  </div>
  </div>


</body>
{% endblock %}
