{% extends 'myapp/base.html' %}
{%load static%}
{% block body %}
<div class="row" style="align-content: center;">
    <div class="col-sm-4" >
        <div class="card bg-primary text-white" style="width:400px;">
            <img class="card-img-top img-responsive" src="{% static 'images/ajay.jpg' %}" alt="Card image" style="width:100%;">
            <div class="card-body" style="filter: alpha(opacity=30);">
              <h4 class="card-title">Ajay Verma</h4>
              <p class="card-text">(+91)7009454212</p>
              <a href="fb.com/avcool1" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-primary text-white" style="width:400px;">
            <img class="card-img-top img-responsive" src="{% static 'images/ajay.jpg' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
              <h4 class="card-title">Sahil Singla</h4>
              <p class="card-text">(+91)8745959048</p>
              <a href="fb.com/sahil.singla.3388" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}