{% extends 'myapp/base.html' %}
{%load static%}
{% block body %}
<div class="">

</div>
<div class="container">
    <div class="panel panel-transparent">
        <div class="panel-body">
            {% for problem in problems %}
                {% if forloop.counter == count %}
                    <h2 style="text-align:center;">Level : {{ forloop.counter }}</h2>
                    <h4 style="text-align:center;">{{ problem.desc }}</h4>
                    <img src="/media/{{ problem.image }}" class="center img-responsive" style="width: 300px; height: 200px;">
                    {{ break }}
                {% endif %}
            {% endfor %}
            {% if count > total %}
                <h3>Congrats, you have solved all of the problems!</h3>
                <a href="{% url 'myapp:leaderboard' %}">Please visit our leaderboard!</a>
            {% else %}
                <form action="" enctype="multipart/form-data" method="post" role="form">
                    {% csrf_token %}
                    {% include 'myapp/form-template.html' %}
                    <div class="wrapper">
                        <button type="submit" id="myBtn" class="button btn">Submit</button>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        {% if msg != 'x' %}
                          <!-- Modal content -->
                          <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>{{ msg }}</p>
                          </div>
                        {% endif %}

                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        var str = "{{ msg }}"
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        if(str=='Incorrect answer, please try again!')
        {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}