{% extends 'myapp/base.html' %}

{% block body %}
<div class="container-fluid" style="opacity: 0.9">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="responsive">
                <thead>
                  <tr>
                      <th>Rank</th>
                      <th>Name</th>
                      <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        {% if request.user == profile.user%}
                        <td style="background-color: #000;color:#fff;"> 
                            {{ profile.user.first_name }} {{ profile.user.last_name }}
                        </td>
                        {%else%}
                        <td>
                            {{ profile.user.first_name }} {{ profile.user.last_name }}
                        </td>
                        {% endif %}
                        <td>
                            {{ profile.solved|add:"-1" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}