{% extends 'myapp/base.html' %}
{%load static%}

{% block body %}
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="alert alert-info alert-dismissible show" role="alert">
            To all Lara Crofts and Indiana Jones out there, this time we are sending you back in time where great many incidents occurred. You have to find yourselves the hidden treasure down your path. It is up to you how you find the treasure, hidden in the depths of the Internet, do not lose trail while following or you might get lost forever. Are you ready for the adventure? 
Xunbao is a multi-level contest where you will be given cues to solve.<br><br>
With every step challenging your wit, it is a race against time and fellows. So get on your Black Pearls, in other words your Mobile and surf the waves on the internet to claim your fame.<br><br>
This year the stakes could not get any higher. Conquerors of the event will get prizes like Mi Band 2 and more exciting goodies from <b><a href="http://ocul.in">ocul.in</a></b>, a simple URL Shortening Service.
<br><br><br>
<b>GOOD LUCK EXPLORING!</b>
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>-->
            </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-3"></div>
        <div class="col-md-6" align="middle">
          <a href="{% url 'social:begin' 'facebook' %}"><button class="loginBtn loginBtn--facebook">
            Login with Facebook
              </button></a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
{% endblock %}
